<template>
    <lightning-card>
        <ui>
            <template for:each={opportunities.data} for:item="opportunity">
                <li key={opportunity.Id}>{opportunity.Product2Id}</li>
            </template>
        </ui>
    </lightning-card>
</template>