<template>
    <P>Product Line Items </P>
    <div style="height: 300px;text-align:center">
        <lightning-datatable
                key-field="id"
                data={data}
                columns={columns}
                onrowaction={handleRowAction}
                >
        </lightning-datatable>
    </div>    
</template>