<apex:page standardController="Contact" recordSetVar="Accounts" readOnly="true"  >
    <apex:pageblock >
        <apex:pageBlockTable var="a" value="{!Accounts}" >
            <apex:column value="{!a.Name}"/>
            <!-- Pagination -->
<table style="width: 100%"><tr>
    <td>
        <!-- Page X of Y -->
    </td>            
    <td align="center">
        <!-- Previous page -->
        <!-- Next page -->
    </td>
    
    <td align="right">
        <!-- Records per page -->
    </td>
</tr></table>

        </apex:pageBlockTable> 
    </apex:pageblock>
</apex:page>