<template>
    <h2>Lightning Component</h2>
    <lightning-record-form 
        record-id={recordId} 
        object-api-name="Account"
        layout-type="Compact"
        mode="readonly">
    </lightning-record-form>
</template>